@import url('https://fonts.googleapis.com/css?family=Galada|Roboto+Slab');

/* Общие стили для тегов*/
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
}

body {
	min-width: 100px;
	min-height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

img {
	max-width: 100%;
	height: auto;
	width: auto/9; /*ie8*/
	transition: all 3s ease-out;
	-moz-transition: all 3s ease-out;
	-ms-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
	-webkit-transition: all 3s ease-out;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/* Стили для шапки сайта*/

header {
	min-height: 100px;
	background-color: #4C5866;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

}

.site_name {
	width: 30%;
	height: 100%;
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
}

.site_name img {
	height: 80px;
	align-self: center;
}

.site_name span {
	font-family: 'Galada', cursive;
	font-size: 2.5em;
	color: white;
	margin-left: 25px;
	align-self: center;
	transition: all 3s ease-out;
	-moz-transition: all 3s ease-out;
	-ms-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
	-webkit-transition: all 3s ease-out;
}

.main_menu {
	width: 50%;
	margin-right:10%;
	height: 100%; 
	display: flex;
	justify-content: space-around;
}

.mobile_menu_icon {
	color: white;
	visibility: hidden;
	display: none;
}

.main_menu_item {
	margin-right: 30px;
	align-self: center;
}

.main_menu_item a {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
	color: white;
	text-decoration: none;
	transition: all.6s ease;
	-o-transition: all.6s ease;
	-ms-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
}

.main_menu_item a:hover {
	color: red;
	border-bottom: 1px solid #9C8B71;
	border-top: 1px solid #9C8B71;
	text-decoration: none;
	transition: all.6s ease;
	-o-transition: all.6s ease;
	-ms-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	
}

/*Стили для мобильного меню в скрытом состоянии*/

.mobile_menu {
	width: 100%;
	height: 250px;
	background-color: #4C5866;
	display: none;
}

.mobile_menu_item {
	height: 50px;
	margin: 0;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mobile_menu_item a {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
	color: white;
	text-decoration: none;
}


/*Стили для тела страницы*/
.site_body {
	width: 100%;
}

/*Стили для смартфонов и планшетов*/
@media (max-width: 1000px) {

	header {
		justify-content: space-between;
	}

	.site_name img {
		height: 60px;
	}

	.site_name span {
		font-size: 2em;
	}

	.main_menu {
		visibility: hidden;
		display: none;
	}

	.mobile_menu_icon {
		visibility: visible;
		display: flex;
		font-size: 2.5em;
		align-items: center;
		margin-right: 40px;
	}

	.mobile_menu_icon span {
		color: white;
	}

	#mobile_menu_checkbox:checked ~ .mobile_menu {
		display: flex;
		flex-direction: column;
		transition: all.3s ease;
		-o-transition: all.3s ease;
		-ms-transition: all.3s ease;
		-moz-transition: all.3s ease;
		-webkit-transition: all.3s ease;
	}


}


/* Стили для футера сайта*/
footer {
	width: 100%;
	height: 100px;
	background-color: #4C5866;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.copyright span {
	font-family: 'Roboto Slab', serif;
	font-size: 1.2em;
	color: white;
}

.social {
	display: flex;
	margin-right: 5%;
}

.social a {
	width: 50px;
	height: 50px;
	color: black;
	font-size: 2em;
	border-radius: 50%;
	background-color: white;
	margin-right: 15px;
	text-align: center;
	line-height: 50px;
	transition: all.6s ease;
	-o-transition: all.6s ease;
	-ms-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
}

.social a:hover {
	color: red;
	background-color: #ffffff;
	transition: all.6s ease;
	-o-transition: all.6s ease;
	-ms-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
}


